@import url('http://fonts.googleapis.com/icon?family=Coiny');

.top-bar{
    color: black;
}
.top-bar-title{
    font-family: 'Coiny',cursive;
    font-size: 22 px;
    color: #ffffff;
}

.nav-menu a {
    color: #ffffff;;
}